body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#link-button {
    background-color: #74f14e;
    border: solid 2px black;
    border-radius: 5px;
    width: 25pc;
    height: 25pc;
}

